<h1>Project Home Page</h1>

<section>
  <ul>
    <li><a href="login">Login</a></li>
    <li>Logout</li>
    <li><a href="signup">Sign Up</a></li>
    <li><a href="profile/edit">Edit Profile</a></li>
    <li><a href="movies/new">Add Movie</a></li>
  </ul>
</section>
<section class="fancySection">
  <% @movies.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |movie| %>
        <div class="col-md-4">
          <a href="/movies/<%= movie.id %>">
          <h3><%= movie.title %></h3>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</section>