<section class="fancySection">
  <form action="/movies/new" method="POST">
    <h3>Add Movie</h3>
    <div class="form-group shortField">
      <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group shortField">
      <label for="director">Director</label>
      <input class="form-control" type="text" name="director" id="director">
    </div>
    <div class="form-group shortField">
      <label for="country">Country</label>
        <input class="form-control" type="text" name="country" id="country">
    </div>
    <div class="form-group shortField">
      <label for="run_length">Run Length (Minutes)</label>
        <input class="form-control" type="number" name="run_length" id="run_length">
    </div>
    <div class="form-group shortField">
      <label for="release_date">Release Date</label>
        <input class="form-control" type="date" name="release_date" id="release_date">
    </div>
    <div class="form-group shortField">
      <label for="mpaa_rating">MPAA Rating</label>
        <input class="form-control" type="text" name="mpaa_rating" id="mpaa_rating">
    </div>
    <div class="form-group">
      <label for="synopsis">Synopsis</label>
      <textarea class="form-control" rows="4" name="synopsis" id="synopsis"></textarea>
    </div>
    <button type="submit">Add Movie</button>
  </form>
</section>