<section class="fancySection">
  <form action="/profile" method="POST">
    <h3>Profile</h3>
    <label>User Name
      <br><input type="text" name="username" value="<%= @current_user.username %>"
    </label>
    <br>
    <label>Email
      <br><input type="email" name="email" value="<%= @current_user.email %>">
    </label>
    <br>
    <label>Password
      <br><input type="password" name="password" value="<%= @current_user.password %>">
    </label>
    <br>
    <button type="submit">Update</button>
  </form>
</section>