<section class="fancySection">
  <form action="/profile" method="POST">
    <h3>Profile</h3>
    <label>First Name
      <br><input type="text" name="firstname">
    </label>
    <br>
    <label>Last Name
      <br><input type="text" name="lastname">
    </label>
    <br>
    <label>Email
      <br><input type="email" name="email">
    </label>
    <br>
    <label>Password
      <br><input type="password" name="password">
    </label>
    <br>
    <button type="submit">Update</button>
  </form>
</section>