<section class="fancySection shortField">
  <form action="/profile/edit" method="POST">
    <h3>Profile</h3>
    <div>
      <label for="username">User Name</label><br>
      <input type="text" name="username" id="username" value="<%= @current_user.username %>">
    </div>
    <br>
    <div>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" value="<%= @current_user.email %>">
    </div>
    <br>
    <div>
      <label for="password">Password</label><br>
      <input type="password" id="password" name="password" value="<%= @current_user.password %>">
    </div>
    <br>
    <button type="submit">Update</button>
  </form>
</section>